{{head-layout}}
<screen>
  {{#bs-navbar as |navbar|}}
    <div class="navbar-header">
      {{navbar.toggle}}
      {{#link-to "index" class="navbar-brand"}}Ember Performance Workshop{{/link-to}}
    </div>
    {{#navbar.content}}
      {{#navbar.nav as |nav|}}
        {{#nav.item}}{{#nav.link-to "index"}}Home{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "setup"}}Setup{{/nav.link-to}}{{/nav.item}}

        {{#nav.dropdown tagName="li" as |dd|}}
          {{#dd.toggle}}Initial Load <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#ddm.item}}
              {{#ddm.link-to "initial-load.ember-cli-inline-content"}}
                ember-cli-inline-content
              {{/ddm.link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              {{#ddm.link-to "initial-load.ember-cli-concat"}}
                ember-cli-concat
              {{/ddm.link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              {{#ddm.link-to "initial-load.removing-jquery"}}
                Removing jQuery
              {{/ddm.link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              {{#ddm.link-to "initial-load.broccoli-concat-analyser"}}
                broccoli-concat-analyser
              {{/ddm.link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              {{#ddm.link-to "initial-load.tree-shaking"}}
                Tree Shaking
              {{/ddm.link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              {{#ddm.link-to "initial-load.brotli"}}
                Brotli Compression
              {{/ddm.link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              {{#ddm.link-to "initial-load.fastboot"}}
                Fastboot
              {{/ddm.link-to}}
            {{/ddm.item}}
          {{/dd.menu}}
        {{/nav.dropdown}}

        {{#nav.dropdown tagName="li" as |dd|}}
          {{#dd.toggle}}Reload <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#ddm.item}}
              {{#ddm.link-to "reload.service-workers"}}
                Service Workers
              {{/ddm.link-to}}
            {{/ddm.item}}
          {{/dd.menu}}
        {{/nav.dropdown}}

        {{#nav.dropdown tagName="li" as |dd|}}
          {{#dd.toggle}}Render <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#ddm.item}}
              {{#ddm.link-to "render.ember-perf-timeline"}}
                ember-perf-timeline
              {{/ddm.link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              {{#ddm.link-to "render.vertical-collection"}}
                Vertical Collection
              {{/ddm.link-to}}
            {{/ddm.item}}
          {{/dd.menu}}
        {{/nav.dropdown}}

        {{#nav.dropdown tagName="li" as |dd|}}
          {{#dd.toggle}}Extras <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#ddm.item}}
              {{#ddm.link-to "extras.ember-macro-benchmark"}}
                ember-macro-benchmark
              {{/ddm.link-to}}
            {{/ddm.item}}
          {{/dd.menu}}
        {{/nav.dropdown}}
      {{/navbar.nav}}
    {{/navbar.content}}
  {{/bs-navbar}}

  <hbox justify="center">
    <box xs="11" lg="8">
      {{outlet}}
      <hbox>
        {{#if previous}}
          <hbox justify="start" align="center">
            {{#link-to previous.route}}
              <span class="glyphicon glyphicon-circle-arrow-left"></span> &nbsp; {{previous.text}}
            {{/link-to}}
          </hbox>
        {{/if}}
        {{#if next}}
          <hbox justify="end" align="center">
            {{#link-to next.route}}
              {{next.text}} &nbsp; <span class="glyphicon glyphicon-circle-arrow-right"></span>
            {{/link-to}}
          </hbox>
        {{/if}}
      </hbox>
    </box>
  </hbox>
</screen>